.page{
    width: 960px;
    height: 100%;
    overflow: auto;
    padding: 20px;
    background-color: antiquewhite;
}
.page-head{
    height: 100px;
    background-color: antiquewhite;
    line-height: 100px;
    padding-left: 40px;
}